In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1) Beginning by reading in the files I need into dataframes

In [5]:
#pulling in clean census data
cln_census_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\clean_census_df.csv")

In [7]:
cln_census_df.head()

,Geography,Geographic Area Name,County,State,est_pop_>15yrs,e_inc<10000,mar_err<10000,e_inc_10k_<15k,mar_err_inc_10k_<15k,e_inc_15K_<25K,mar_err_inc_15K_<25K,est_hh_cash_asst,mar_err_hh_cash_asst,est_hh_snap,mar_err_hh_snap
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,47508,831,221,676,211,1785,395,151,88,1974,276
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,195048,3958,714,3584,629,6066,703,843,226,6480,848
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,20253,963,223,587,163,1292,201,168,65,2013,317
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,18176,483,147,603,207,833,220,383,137,1535,336
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,47389,1343,325,1185,281,1771,254,447,151,2706,460

In [11]:
#pulling in county medicaid enrollment data
co_enroll_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\master_co_df.csv")

In [15]:
co_enroll_df.head()

,State,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Child Medicaid Coverage Rate
0,Alabama,Autauga County,18.7,42.0,10.7,13.3,NaN
1,Alabama,Baldwin County,16.4,41.1,8.9,10.6,NaN
2,Alabama,Barbour County,27.3,53.5,19.0,23.0,NaN
3,Alabama,Bibb County,21.8,48.3,13.8,15.6,NaN
4,Alabama,Blount County,18.4,42.0,10.0,14.2,NaN

In [17]:
#pulling in state medicaid income eligibility data
st_inc_eli = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\medicaid_income_by_state_2025.csv")

In [19]:
st_inc_eli.head()

        State Expanded  Limit (%FPL) Monthly Limit (approx)    Yearly
0     Alabama       No            38                  $987   $11,844
1      Alaska      Yes           138                $1,795   $21,540
2     Arizona      Yes           138                $1,305   $15,660
3    Arkansas      Yes           138                $1,043   $12,520
4  California      Yes           138                $1,801   $21,612