In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1) Beginning by reading in the files I need into dataframes

In [3]:
#pulling in clean census data (income data)
cln_census_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\clean_census_df.csv")

In [3]:
cln_census_df.head()

NameError: name 'cln_census_df' is not defined

In [9]:
#pulling in county medicaid enrollment data
co_enroll_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\master_co_df.csv")

In [11]:
co_enroll_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3144 entries, 0 to 3143
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   State                              3144 non-null   object
 1   County Name                        3144 non-null   object
 2   Total Medicaid Coverage Rate       3140 non-null   float64
 3   Child Medicaid/CHIP Coverage Rate  3052 non-null   float64
 4   Adult Medicaid Coverage Rate       3117 non-null   float64
 5   Senior Medicaid Coverage Rate      3036 non-null   float64
 6   Child Medicaid Coverage Rate       67 non-null     float64
dtypes: float64(5), object(2)
memory usage: 172.1+ KB

In [7]:
#concating State and County Name for merging later
co_enroll_df['Geographic Area Name'] = co_enroll_df['County Name'] + ', ' + co_enroll_df['State']
co_enroll_df.head()

,State,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Child Medicaid Coverage Rate,Geographic Area Name
0,Alabama,Autauga County,18.7,42.0,10.7,13.3,NaN,"Autauga County, Alabama"
1,Alabama,Baldwin County,16.4,41.1,8.9,10.6,NaN,"Baldwin County, Alabama"
2,Alabama,Barbour County,27.3,53.5,19.0,23.0,NaN,"Barbour County, Alabama"
3,Alabama,Bibb County,21.8,48.3,13.8,15.6,NaN,"Bibb County, Alabama"
4,Alabama,Blount County,18.4,42.0,10.0,14.2,NaN,"Blount County, Alabama"

In [7]:
#pulling in state medicaid income eligibility data
st_inc_eli = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\medicaid_income_by_state_2025.csv")

In [9]:
st_inc_eli.head()

,State,Expanded,Limit (%FPL),Monthly Limit (approx),Yearly,Unnamed: 5,Unnamed: 6
0,Alabama,No,38,$987,"$11,844",NaN,NaN
1,Alaska,Yes,138,"$1,795","$21,540",NaN,NaN
2,Arizona,Yes,138,"$1,305","$15,660",NaN,NaN
3,Arkansas,Yes,138,"$1,043","$12,520",NaN,NaN
4,California,Yes,138,"$1,801","$21,612",NaN,NaN

In [10]:
#reading in additional population data
pop_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\pop_clean.csv")

In [11]:
pop_df.head()

,Geography,Geographic Area Name,County,State,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,pop_70_to_74yrs,pop_75_to_79yrs,pop_80_to_84yrs,pop_>85yrs
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,2617,2200,1018,797
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,14726,10196,5411,4810
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,1239,1184,476,393
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,963,831,524,226
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,2772,2144,1405,969

In [12]:
#calculating new columns for total child, senior, and adult population
pop_df ['child_pop'] = pop_df['pop_under_5yrs'] + pop_df['pop_5_to_9yrs'] + pop_df['pop_10_to_14yrs'] + pop_df['pop_15_to_19yrs']
pop_df ['senior_pop'] = pop_df['pop_65_to_69yrs'] + pop_df['pop_70_to_74yrs'] + pop_df['pop_75_to_79yrs'] + pop_df['pop_80_to_84yrs'] + pop_df['pop_>85yrs']
pop_df ['adult_pop'] = pop_df['E_Total_pop'] - (pop_df['child_pop'] + pop_df['senior_pop'])
pop_df.head()

,Geography,Geographic Area Name,County,State,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,pop_70_to_74yrs,pop_75_to_79yrs,pop_80_to_84yrs,pop_>85yrs,child_pop,senior_pop,adult_pop
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,2617,2200,1018,797,15101,9474,34710
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,14726,10196,5411,4810,56282,51326,132337
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,1239,1184,476,393,5690,4881,14186
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,963,831,524,226,5025,3756,13371
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,2772,2144,1405,969,14967,11019,33306

In [13]:
#merging population and county enrollment tables
pop_enroll_df = pd.merge(pop_df, co_enroll_df, on='Geographic Area Name', how="left")
pop_enroll_df.head()

,Geography,Geographic Area Name,County,State_x,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,...,child_pop,senior_pop,adult_pop,State_y,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Child Medicaid Coverage Rate
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,...,15101,9474,34710,Alabama,Autauga County,18.7,42.0,10.7,13.3,NaN
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,...,56282,51326,132337,Alabama,Baldwin County,16.4,41.1,8.9,10.6,NaN
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,...,5690,4881,14186,Alabama,Barbour County,27.3,53.5,19.0,23.0,NaN
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,...,5025,3756,13371,Alabama,Bibb County,21.8,48.3,13.8,15.6,NaN
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,...,14967,11019,33306,Alabama,Blount County,18.4,42.0,10.0,14.2,NaN

In [14]:
#changing the values of enrollment columns from whole numbers to decimals (percentages)
pop_enroll_df['Total Medicaid Coverage Rate'] = pop_enroll_df['Total Medicaid Coverage Rate'] / 100
pop_enroll_df['Child Medicaid/CHIP Coverage Rate'] = pop_enroll_df['Child Medicaid/CHIP Coverage Rate'] / 100
pop_enroll_df['Adult Medicaid Coverage Rate'] = pop_enroll_df['Adult Medicaid Coverage Rate'] / 100
pop_enroll_df['Senior Medicaid Coverage Rate'] = pop_enroll_df['Senior Medicaid Coverage Rate'] / 100
pop_enroll_df.head()

,Geography,Geographic Area Name,County,State_x,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,...,child_pop,senior_pop,adult_pop,State_y,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Child Medicaid Coverage Rate
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,...,15101,9474,34710,Alabama,Autauga County,0.187,0.420,0.107,0.133,NaN
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,...,56282,51326,132337,Alabama,Baldwin County,0.164,0.411,0.089,0.106,NaN
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,...,5690,4881,14186,Alabama,Barbour County,0.273,0.535,0.190,0.230,NaN
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,...,5025,3756,13371,Alabama,Bibb County,0.218,0.483,0.138,0.156,NaN
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,...,14967,11019,33306,Alabama,Blount County,0.184,0.420,0.100,0.142,NaN

In [15]:
#dropping useless column
pop_enroll_df = pop_enroll_df.drop('Child Medicaid Coverage Rate', axis = 1)
pop_enroll_df.head()

,Geography,Geographic Area Name,County,State_x,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,...,pop_>85yrs,child_pop,senior_pop,adult_pop,State_y,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,...,797,15101,9474,34710,Alabama,Autauga County,0.187,0.420,0.107,0.133
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,...,4810,56282,51326,132337,Alabama,Baldwin County,0.164,0.411,0.089,0.106
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,...,393,5690,4881,14186,Alabama,Barbour County,0.273,0.535,0.190,0.230
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,...,226,5025,3756,13371,Alabama,Bibb County,0.218,0.483,0.138,0.156
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,...,969,14967,11019,33306,Alabama,Blount County,0.184,0.420,0.100,0.142

In [16]:
#creating raw number columns from raw population data and percentage enrollment data
pop_enroll_df['Total Pop Enrolled'] = pop_enroll_df['E_Total_pop'] * pop_enroll_df['Total Medicaid Coverage Rate']
pop_enroll_df['Child Pop Enrolled'] = pop_enroll_df['Total Pop Enrolled'] * pop_enroll_df['Child Medicaid/CHIP Coverage Rate']
pop_enroll_df['Senior Pop Enrolled'] = pop_enroll_df['Total Pop Enrolled'] * pop_enroll_df['Senior Medicaid Coverage Rate']
pop_enroll_df['Adult Pop Enrolled'] = pop_enroll_df['Total Pop Enrolled'] * pop_enroll_df['Adult Medicaid Coverage Rate']
pop_enroll_df.head()

,Geography,Geographic Area Name,County,State_x,E_Total_pop,pop_under_5yrs,pop_5_to_9yrs,pop_10_to_14yrs,pop_15_to_19yrs,pop_65_to_69yrs,...,State_y,County Name,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Total Pop Enrolled,Child Pop Enrolled,Senior Pop Enrolled,Adult Pop Enrolled
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,3430,3411,4338,3922,2842,...,Alabama,Autauga County,0.187,0.420,0.107,0.133,11086.295,4656.243900,1474.477235,1186.233565
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,12448,13152,16079,14603,16183,...,Alabama,Baldwin County,0.164,0.411,0.089,0.106,39350.980,16173.252780,4171.203880,3502.237220
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,1380,1684,1201,1425,1589,...,Alabama,Barbour County,0.273,0.535,0.190,0.230,6758.661,3615.883635,1554.492030,1284.145590
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,1069,1387,1221,1348,1212,...,Alabama,Bibb County,0.218,0.483,0.138,0.156,4829.136,2332.472688,753.345216,666.420768
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,3397,3601,4159,3810,3729,...,Alabama,Blount County,0.184,0.420,0.100,0.142,10909.728,4582.085760,1549.181376,1090.972800

In [17]:
#adding columns to calculate state enrollment totals
pop_enroll_df['State_Enrollment_All'] = pop_enroll_df.groupby('State_x')['Total Pop Enrolled'].transform('sum')
pop_enroll_df['State_Enrollment_Child'] = pop_enroll_df.groupby('State_x')['Child Pop Enrolled'].transform('sum')
pop_enroll_df['State_Enrollment_Senior'] = pop_enroll_df.groupby('State_x')['Senior Pop Enrolled'].transform('sum')
pop_enroll_df['State_Enrollment_Adult'] = pop_enroll_df.groupby('State_x')['Adult Pop Enrolled'].transform('sum')
pop_enroll_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3222 entries, 0 to 3221
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Geography                          3222 non-null   object
 1   Geographic Area Name               3222 non-null   object
 2   County                             3222 non-null   object
 3   State_x                            3222 non-null   object
 4   E_Total_pop                        3222 non-null   int64
 5   pop_under_5yrs                     3222 non-null   int64
 6   pop_5_to_9yrs                      3222 non-null   int64
 7   pop_10_to_14yrs                    3222 non-null   int64
 8   pop_15_to_19yrs                    3222 non-null   int64
 9   pop_65_to_69yrs                    3222 non-null   int64
 10  pop_70_to_74yrs                    3222 non-null   int64
 11  pop_75_to_79yrs                    3222 non-null   int64
 12  pop_80_to_84yrs                    3222 non-null   int64
 13  pop_>85yrs                         3222 non-null   int64
 14  child_pop                          3222 non-null   int64
 15  senior_pop                         3222 non-null   int64
 16  adult_pop                          3222 non-null   int64
 17  State_y                            3051 non-null   object
 18  County Name                        3051 non-null   object
 19  Total Medicaid Coverage Rate       3047 non-null   float64
 20  Child Medicaid/CHIP Coverage Rate  2967 non-null   float64
 21  Adult Medicaid Coverage Rate       3034 non-null   float64
 22  Senior Medicaid Coverage Rate      2959 non-null   float64
 23  Total Pop Enrolled                 3047 non-null   float64
 24  Child Pop Enrolled                 2967 non-null   float64
 25  Senior Pop Enrolled                2959 non-null   float64
 26  Adult Pop Enrolled                 3034 non-null   float64
 27  State_Enrollment_All               3222 non-null   float64
 28  State_Enrollment_Child             3222 non-null   float64
 29  State_Enrollment_Senior            3222 non-null   float64
 30  State_Enrollment_Adult             3222 non-null   float64
dtypes: float64(12), int64(13), object(6)
memory usage: 780.5+ KB

In [18]:
#new data frame to remove some columns
enrolled_pop_df = pop_enroll_df[['Geography', 'Geographic Area Name', 'County', 'State_x', 'E_Total_pop', 'child_pop',
                                 'senior_pop', 'adult_pop','Total Medicaid Coverage Rate', 'Child Medicaid/CHIP Coverage Rate', 
                                 'Adult Medicaid Coverage Rate','Senior Medicaid Coverage Rate', 'Total Pop Enrolled', 'Child Pop Enrolled', 
                                 'Senior Pop Enrolled', 'Adult Pop Enrolled', 'State_Enrollment_All', 'State_Enrollment_Child', 
                                 'State_Enrollment_Senior', 'State_Enrollment_Adult']]
enrolled_pop_df.rename(columns={'State_x': 'State'}, inplace=True)
enrolled_pop_df.head()

C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\1662605656.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df.rename(columns={'State_x': 'State'}, inplace=True)

,Geography,Geographic Area Name,County,State,E_Total_pop,child_pop,senior_pop,adult_pop,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,Adult Medicaid Coverage Rate,Senior Medicaid Coverage Rate,Total Pop Enrolled,Child Pop Enrolled,Senior Pop Enrolled,Adult Pop Enrolled,State_Enrollment_All,State_Enrollment_Child,State_Enrollment_Senior,State_Enrollment_Adult
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,15101,9474,34710,0.187,0.420,0.107,0.133,11086.295,4656.243900,1474.477235,1186.233565,1067446.652,494557.515357,187186.494341,139942.711899
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,56282,51326,132337,0.164,0.411,0.089,0.106,39350.980,16173.252780,4171.203880,3502.237220,1067446.652,494557.515357,187186.494341,139942.711899
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,5690,4881,14186,0.273,0.535,0.190,0.230,6758.661,3615.883635,1554.492030,1284.145590,1067446.652,494557.515357,187186.494341,139942.711899
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,5025,3756,13371,0.218,0.483,0.138,0.156,4829.136,2332.472688,753.345216,666.420768,1067446.652,494557.515357,187186.494341,139942.711899
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,14967,11019,33306,0.184,0.420,0.100,0.142,10909.728,4582.085760,1549.181376,1090.972800,1067446.652,494557.515357,187186.494341,139942.711899

In [19]:
#enrolled_pop_df.to_csv('C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\enrolled_pop.csv', index=False)

In [20]:
#sns.barplot(data = pop_enroll_df, x = pop_enroll_df['State_x'], y = pop_enroll_df['Total Pop Enrolled'])
#plt.xticks(rotation=90)
#plt.show()

In [21]:
cln_census_df.head()

,Geography,Geographic Area Name,County,State,inc_elig_yr,est_pop_>15yrs,e_inc<10000,mar_err<10000,e_inc_10k_<15k,mar_err_inc_10k_<15k,...,est_hh_cash_asst,mar_err_hh_cash_asst,est_hh_snap,mar_err_hh_snap,Unnamed: 16,eli_cap_% 15K,eli_cap_%_25K,pop_eli_<15K,pop_eli_<25K,adult_elig
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,"$11,844",47508,831,221,676,211,...,151,88,1974,276,NaN,36.88%,-31.56%,1080.3088,943.6540,1080.3088
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,"$11,844",195048,3958,714,3584,629,...,843,226,6480,848,NaN,36.88%,-31.56%,5279.7792,5627.5704,5279.7792
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,"$11,844",20253,963,223,587,163,...,168,65,2013,317,NaN,36.88%,-31.56%,1179.4856,1142.2448,1179.4856
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,"$11,844",18176,483,147,603,207,...,383,137,1535,336,NaN,36.88%,-31.56%,705.3864,823.1052,705.3864
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,"$11,844",47389,1343,325,1185,281,...,447,151,2706,460,NaN,36.88%,-31.56%,1780.0280,1969.0724,1780.0280

In [22]:
#Adding state total column
cln_census_df['State_Eligibility_Adult'] = cln_census_df.groupby('State')['adult_elig'].transform('sum')
cln_census_df.head()

,Geography,Geographic Area Name,County,State,inc_elig_yr,est_pop_>15yrs,e_inc<10000,mar_err<10000,e_inc_10k_<15k,mar_err_inc_10k_<15k,...,mar_err_hh_cash_asst,est_hh_snap,mar_err_hh_snap,Unnamed: 16,eli_cap_% 15K,eli_cap_%_25K,pop_eli_<15K,pop_eli_<25K,adult_elig,State_Eligibility_Adult
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,"$11,844",47508,831,221,676,211,...,88,1974,276,NaN,36.88%,-31.56%,1080.3088,943.6540,1080.3088,159327.4864
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,"$11,844",195048,3958,714,3584,629,...,226,6480,848,NaN,36.88%,-31.56%,5279.7792,5627.5704,5279.7792,159327.4864
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,"$11,844",20253,963,223,587,163,...,65,2013,317,NaN,36.88%,-31.56%,1179.4856,1142.2448,1179.4856,159327.4864
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,"$11,844",18176,483,147,603,207,...,137,1535,336,NaN,36.88%,-31.56%,705.3864,823.1052,705.3864,159327.4864
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,"$11,844",47389,1343,325,1185,281,...,151,2706,460,NaN,36.88%,-31.56%,1780.0280,1969.0724,1780.0280,159327.4864

In [23]:
enrolled_pop_df[['adult_elig', 'State_Eligibility_Adult']] = cln_census_df[['adult_elig', 'State_Eligibility_Adult']] 
enrolled_pop_df.head()

C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\464221992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df[['adult_elig', 'State_Eligibility_Adult']] = cln_census_df[['adult_elig', 'State_Eligibility_Adult']]
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\464221992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df[['adult_elig', 'State_Eligibility_Adult']] = cln_census_df[['adult_elig', 'State_Eligibility_Adult']]

,Geography,Geographic Area Name,County,State,E_Total_pop,child_pop,senior_pop,adult_pop,Total Medicaid Coverage Rate,Child Medicaid/CHIP Coverage Rate,...,Total Pop Enrolled,Child Pop Enrolled,Senior Pop Enrolled,Adult Pop Enrolled,State_Enrollment_All,State_Enrollment_Child,State_Enrollment_Senior,State_Enrollment_Adult,adult_elig,State_Eligibility_Adult
0,0500000US01001,"Autauga County, Alabama",Autauga County,Alabama,59285,15101,9474,34710,0.187,0.420,...,11086.295,4656.243900,1474.477235,1186.233565,1067446.652,494557.515357,187186.494341,139942.711899,1080.3088,159327.4864
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,239945,56282,51326,132337,0.164,0.411,...,39350.980,16173.252780,4171.203880,3502.237220,1067446.652,494557.515357,187186.494341,139942.711899,5279.7792,159327.4864
2,0500000US01005,"Barbour County, Alabama",Barbour County,Alabama,24757,5690,4881,14186,0.273,0.535,...,6758.661,3615.883635,1554.492030,1284.145590,1067446.652,494557.515357,187186.494341,139942.711899,1179.4856,159327.4864
3,0500000US01007,"Bibb County, Alabama",Bibb County,Alabama,22152,5025,3756,13371,0.218,0.483,...,4829.136,2332.472688,753.345216,666.420768,1067446.652,494557.515357,187186.494341,139942.711899,705.3864,159327.4864
4,0500000US01009,"Blount County, Alabama",Blount County,Alabama,59292,14967,11019,33306,0.184,0.420,...,10909.728,4582.085760,1549.181376,1090.972800,1067446.652,494557.515357,187186.494341,139942.711899,1780.0280,159327.4864

In [24]:
#enrolled_pop_df.to_csv('C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\enrolled_pop.csv', index=False)

In [25]:
#State columns for population totals
enrolled_pop_df['State_Pop_All'] = enrolled_pop_df.groupby('State')['E_Total_pop'].transform('sum')
enrolled_pop_df['State_Pop_Child'] = enrolled_pop_df.groupby('State')['child_pop'].transform('sum')
enrolled_pop_df['State_Pop_Senior'] = enrolled_pop_df.groupby('State')['senior_pop'].transform('sum')
enrolled_pop_df['State_Pop_Adult'] = enrolled_pop_df.groupby('State')['adult_pop'].transform('sum')
enrolled_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3222 entries, 0 to 3221
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Geography                          3222 non-null   object
 1   Geographic Area Name               3222 non-null   object
 2   County                             3222 non-null   object
 3   State                              3222 non-null   object
 4   E_Total_pop                        3222 non-null   int64
 5   child_pop                          3222 non-null   int64
 6   senior_pop                         3222 non-null   int64
 7   adult_pop                          3222 non-null   int64
 8   Total Medicaid Coverage Rate       3047 non-null   float64
 9   Child Medicaid/CHIP Coverage Rate  2967 non-null   float64
 10  Adult Medicaid Coverage Rate       3034 non-null   float64
 11  Senior Medicaid Coverage Rate      2959 non-null   float64
 12  Total Pop Enrolled                 3047 non-null   float64
 13  Child Pop Enrolled                 2967 non-null   float64
 14  Senior Pop Enrolled                2959 non-null   float64
 15  Adult Pop Enrolled                 3034 non-null   float64
 16  State_Enrollment_All               3222 non-null   float64
 17  State_Enrollment_Child             3222 non-null   float64
 18  State_Enrollment_Senior            3222 non-null   float64
 19  State_Enrollment_Adult             3222 non-null   float64
 20  adult_elig                         3144 non-null   float64
 21  State_Eligibility_Adult            3144 non-null   float64
 22  State_Pop_All                      3222 non-null   int64
 23  State_Pop_Child                    3222 non-null   int64
 24  State_Pop_Senior                   3222 non-null   int64
 25  State_Pop_Adult                    3222 non-null   int64
dtypes: float64(14), int64(8), object(4)
memory usage: 654.6+ KB

C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\1336965541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['State_Pop_All'] = enrolled_pop_df.groupby('State')['E_Total_pop'].transform('sum')
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\1336965541.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['State_Pop_Child'] = enrolled_pop_df.groupby('State')['child_pop'].transform('sum')
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\1336965541.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['State_Pop_Senior'] = enrolled_pop_df.groupby('State')['senior_pop'].transform('sum')
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\1336965541.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['State_Pop_Adult'] = enrolled_pop_df.groupby('State')['adult_pop'].transform('sum')

In [26]:
#enrolled_pop_df.to_csv('C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\enrolled_pop.csv', index=False)

In [27]:
enrolled_pop_df['Senior Gap'] = enrolled_pop_df['senior_pop'] - enrolled_pop_df['Senior Pop Enrolled']
enrolled_pop_df['Child Gap'] = enrolled_pop_df['child_pop'] - enrolled_pop_df['Child Pop Enrolled']
enrolled_pop_df['Adult Gap'] = enrolled_pop_df['adult_elig'] - enrolled_pop_df['Adult Pop Enrolled']
enrolled_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3222 entries, 0 to 3221
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Geography                          3222 non-null   object
 1   Geographic Area Name               3222 non-null   object
 2   County                             3222 non-null   object
 3   State                              3222 non-null   object
 4   E_Total_pop                        3222 non-null   int64
 5   child_pop                          3222 non-null   int64
 6   senior_pop                         3222 non-null   int64
 7   adult_pop                          3222 non-null   int64
 8   Total Medicaid Coverage Rate       3047 non-null   float64
 9   Child Medicaid/CHIP Coverage Rate  2967 non-null   float64
 10  Adult Medicaid Coverage Rate       3034 non-null   float64
 11  Senior Medicaid Coverage Rate      2959 non-null   float64
 12  Total Pop Enrolled                 3047 non-null   float64
 13  Child Pop Enrolled                 2967 non-null   float64
 14  Senior Pop Enrolled                2959 non-null   float64
 15  Adult Pop Enrolled                 3034 non-null   float64
 16  State_Enrollment_All               3222 non-null   float64
 17  State_Enrollment_Child             3222 non-null   float64
 18  State_Enrollment_Senior            3222 non-null   float64
 19  State_Enrollment_Adult             3222 non-null   float64
 20  adult_elig                         3144 non-null   float64
 21  State_Eligibility_Adult            3144 non-null   float64
 22  State_Pop_All                      3222 non-null   int64
 23  State_Pop_Child                    3222 non-null   int64
 24  State_Pop_Senior                   3222 non-null   int64
 25  State_Pop_Adult                    3222 non-null   int64
 26  Senior Gap                         2959 non-null   float64
 27  Child Gap                          2967 non-null   float64
 28  Adult Gap                          3034 non-null   float64
dtypes: float64(17), int64(8), object(4)
memory usage: 730.1+ KB

C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\3177490477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['Senior Gap'] = enrolled_pop_df['senior_pop'] - enrolled_pop_df['Senior Pop Enrolled']
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\3177490477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['Child Gap'] = enrolled_pop_df['child_pop'] - enrolled_pop_df['Child Pop Enrolled']
C:\Users\ekims\AppData\Local\Temp\ipykernel_28608\3177490477.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enrolled_pop_df['Adult Gap'] = enrolled_pop_df['adult_elig'] - enrolled_pop_df['Adult Pop Enrolled']

In [28]:
#enrolled_pop_df.to_csv('C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\enrolled_pop.csv', index=False)

In [13]:
state_enrolled_df = pd.read_csv("C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\state_enrolled_pop.csv")

In [15]:
state_enrolled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    52 non-null     object
 1   State_Enrollment_All     52 non-null     float64
 2   State_Enrollment_Child   52 non-null     float64
 3   State_Enrollment_Senior  52 non-null     float64
 4   State_Enrollment_Adult   52 non-null     float64
 5   State_Eligibility_Adult  52 non-null     float64
 6   State_Pop_All            52 non-null     int64
 7   State_Pop_Child          52 non-null     int64
 8   State_Pop_Senior         52 non-null     int64
 9   State_Pop_Adult          52 non-null     int64
dtypes: float64(5), int64(4), object(1)
memory usage: 4.2+ KB

In [17]:
#state gap calculation
state_enrolled_df['State Senior Gap'] = state_enrolled_df['State_Pop_Senior'] - state_enrolled_df['State_Enrollment_Senior']
state_enrolled_df['State Child Gap'] = state_enrolled_df['State_Pop_Child'] - state_enrolled_df['State_Enrollment_Child']
state_enrolled_df['State Adult Gap'] = state_enrolled_df['State_Eligibility_Adult'] - state_enrolled_df['State_Enrollment_Adult']
state_enrolled_df['State Total Gap'] = state_enrolled_df['State_Pop_All'] - state_enrolled_df['State_Enrollment_All']
state_enrolled_df.info()
#state_enrolled_df['Senior Gap'] = state_enrolled_df['senior_pop'] - state_enrolled_df['Senior Pop Enrolled']
#state_enrolled_df['Child Gap'] = state_enrolled_df['child_pop'] - state_enrolled_df['Child Pop Enrolled']
#state_enrolled_df['Adult Gap'] = state_enrolled_df['adult_elig'] - state_enrolled_df['Adult Pop Enrolled']
#state_enrolled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    52 non-null     object
 1   State_Enrollment_All     52 non-null     float64
 2   State_Enrollment_Child   52 non-null     float64
 3   State_Enrollment_Senior  52 non-null     float64
 4   State_Enrollment_Adult   52 non-null     float64
 5   State_Eligibility_Adult  52 non-null     float64
 6   State_Pop_All            52 non-null     int64
 7   State_Pop_Child          52 non-null     int64
 8   State_Pop_Senior         52 non-null     int64
 9   State_Pop_Adult          52 non-null     int64
 10  State Senior Gap         52 non-null     float64
 11  State Child Gap          52 non-null     float64
 12  State Adult Gap          52 non-null     float64
 13  State Total Gap          52 non-null     float64
dtypes: float64(9), int64(4), object(1)
memory usage: 5.8+ KB

In [19]:
state_enrolled_df.head()

,State,State_Enrollment_All,State_Enrollment_Child,State_Enrollment_Senior,State_Enrollment_Adult,State_Eligibility_Adult,State_Pop_All,State_Pop_Child,State_Pop_Senior,State_Pop_Adult,State Senior Gap,State Child Gap,State Adult Gap,State Total Gap
0,Alabama,1067446.65,494557.52,187186.49,139942.71,159327.49,5054253,1271803,884210,2898240,697023.51,777245.48,19384.78,3986806.35
1,Alaska,165971.38,59089.61,32718.69,32067.85,26163.68,733971,195972,97815,440184,65096.31,136882.39,-5904.17,567999.62
2,Arizona,1560739.64,633604.25,301682.71,335561.31,231097.17,7268175,1788801,1349934,4129440,1048251.29,1155196.75,-104464.14,5707435.36
3,Arkansas,778475.11,373791.20,123099.08,158081.37,101697.62,3032651,787704,525644,1719303,402544.92,413912.80,-56383.75,2254175.89
4,Arkansas,778475.11,373791.20,123099.08,158081.37,101697.62,3032651,787704,525644,1719303,402544.92,413912.80,-56383.75,2254175.89

In [21]:
#rewriting to csv
state_enrolled_df.to_csv('C:\\Users\\ekims\\Documents\\NSS\\DA14\\capstone\\capstone\\data\\state_enrolled_pop.csv', index=False)